<!-- <div class="wrapper"> -->
<app-header></app-header>

<!-- <div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div> -->

<div class="">
    <!-- <app-side-nav></app-side-nav>
    <div class="col-6"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->

    <div kendoDialogContainer></div>
    <!-- <app-side-nav-right></app-side-nav-right> -->
</div>

<app-footer></app-footer>
<!-- <app-settings></app-settings> -->
<!-- </div> -->