<kendo-appbar [position]="'button'" style="position: absolute;padding: 0px;">
<footer class="main-footer position-fix z-index-9999">
    <div class="pull-right hidden-xs">
        <span class="k-appbar-separator margin-left-5" style="min-height: 11px;"></span>
        <b class="margin-left-5">Sit map</b> 
        <i class="cursor-pointer sit-map-icon fas fa-chevron-circle-up"></i>
    </div>
    <div class="pull-right hidden-xs">
        <span class="k-appbar-separator margin-left-5" style="min-height: 11px;"></span>
        <b class="margin-left-5">Follow Us :</b>
        <i class="cursor-pointer margin-left-5 sit-map-icon fab fa-facebook-square"></i>
    </div>
    <div class="pull-right hidden-xs">
        <b>Version</b> 111
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights reserved.
</footer>
</kendo-appbar>