<!-- <div class="demo">
    <kendo-card *ngFor="let card of mediaCards" [width]="'260px'">
        <iframe *ngIf="card.videoSrc" kendoCardMedia height="267" [src]="card.videoSrc"></iframe>
        <img *ngIf="card.imageSrc" kendoCardMedia [src]="card.imageSrc" />
        <kendo-card-body>
            <div>{{ card.description }}</div>
        </kendo-card-body>
        <kendo-card-actions [actions]="card.actionButtons" [layout]="card.actionsLayout"></kendo-card-actions>
    </kendo-card>
</div> -->

<div class="row">
    <div class="col-sm-4" *ngFor="let card of mediaCards" width="'260px'">
        <kendo-card>
            <iframe *ngIf="card.videoSrc" kendoCardMedia height="267" [src]="card.videoSrc"></iframe>
            <img *ngIf="card.imageSrc" kendoCardMedia [src]="card.imageSrc" />
            <kendo-card-body>
                <div class="height-65px">{{ card.description }}</div>
            </kendo-card-body>
            <kendo-card-actions [actions]="card.actionButtons" [layout]="card.actionsLayout"></kendo-card-actions>
        </kendo-card>
    </div>
    <!-- <div class="col-sm">
        <kendo-card *ngFor="let card of mediaCards" [width]="'260px'">
            <iframe *ngIf="card.videoSrc" kendoCardMedia height="267" [src]="card.videoSrc"></iframe>
            <img *ngIf="card.imageSrc" kendoCardMedia [src]="card.imageSrc" />
            <kendo-card-body>
                <div>{{ card.description }}</div>
            </kendo-card-body>
            <kendo-card-actions [actions]="card.actionButtons" [layout]="card.actionsLayout"></kendo-card-actions>
        </kendo-card>
    </div>
    <div class="col-sm">
        <kendo-card *ngFor="let card of mediaCards" [width]="'260px'">
            <iframe *ngIf="card.videoSrc" kendoCardMedia height="267" [src]="card.videoSrc"></iframe>
            <img *ngIf="card.imageSrc" kendoCardMedia [src]="card.imageSrc" />
            <kendo-card-body>
                <div>{{ card.description }}</div>
            </kendo-card-body>
            <kendo-card-actions [actions]="card.actionButtons" [layout]="card.actionsLayout"></kendo-card-actions>
        </kendo-card>
    </div> -->
</div>