<div class="container" style="margin-top: 60px;">

    <div class="col-sm-3 float-left padding-15" *ngFor="let product of productList">
        <div class="list js-list-content" style="max-height: 350px;">
            <div class="list-header js-list-header u-clearfix">
                <div class="list-header-target js-editing-target"></div>
                <h2 class="list-header-name-assist js-list-name-assist" dir="auto">{{product.name}}</h2>
                <textarea class="list-header-name mod-list-name js-list-name-input" style="overflow: hidden; overflow-wrap: break-word; height: 28px;">{{product.name}}</textarea>
                <div class="list-header-extras">
                    <span class="list-header-extras-subscribe js-list-subscribed hide">
                        <span class="icon-sm icon-subscribe mod-quiet"></span>
                    </span>
                    <span class="list-header-extras-limit-badge js-list-limit-badge hide"></span>
                </div>
            </div>

            <div class="list-cards u-fancy-scrollbar u-clearfix js-list-cards">
                <a class="list-card js-member-droppable ui-droppable">
                    <div class="list-card-cover js-card-cover"></div>

                    <div class="list-card-stickers-area js-stickers-area hide">
                        <div class="stickers js-card-stickers"></div>
                    </div>
                    <div class="list-card-details js-card-details">
                        <img class="img" kendoCardMedia [src]="product.src" />
                        <span class="list-card-title js-card-name" dir="auto">
                             {{product.description}}
                        </span>
                        <div style="width: 110px;float: left;">
                            <strong>
                                <span class = "margin-right-5px">{{product.price}}</span>
                                <span>{{product.currency}}</span>
                            </strong>

                            
                            <!-- <kendo-chip
                                *ngFor="let chip of chips"
                                [label]="chip.label"
                            >
                            </kendo-chip> -->

                        </div>
                        <div style="float: right;">
                            <button class="float-left k-button k-primary k-flat float-left">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button class="float-left k-primary k-flat float-left">
                                <strong>0</strong>
                            </button>
                            <button class="float-left k-button k-primary k-flat float-right">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <div class="badges width" style="box-shadow: 0 -1px 0 rgba(9, 30, 66, .25);">
                            <button class="float-left" kendoButton [look]="'flat'" [primary]="true">View</button>
                            <button class ="float-right" kendoButton [look]="'flat'" [primary]="true" [icon]="'shopping-cart'" [look]="'flat'">Add Cart</button>
                            <!-- <span class="js-badges">
                                <div class="badge is-icon-only">
                                    <span class="badge-icon icon-sm icon-description"></span>
                                </div>
                            </span> -->
                    </div>
            </div>
            </a>

        </div>

    </div>
</div>