<div class="contentsWrap contentsWrap01">
    <!-- Navigation Tab -->
    <div class="naviWrap">

    </div>
    <!-- //Navigation Tab -->
    <!-- page title -->
    <div class="page_title">
        <div class="breadcrumb">
            <div class="page_navi">
                <span>Home</span>
                <span>Information</span>
            </div>
            <h1><span>Product Management</span></h1>
        </div>
    </div>
    <div class="container01">
        <div class="row">


            <div class="col-lg-4 container01 margin-right-20 box-shadow height-325">
                <div>
                    <img class="max-width" src="../../../assets/product-img/aparato-1.3778771f97487bee559f300f8e28357f.png" alt="">
                </div>
                <div class="add-btn btn-css">
                    <span>Add New</span>
                </div>
            </div>

            <div class="col-lg-4 container01 margin-right-20 box-shadow height-325">
                <div>
                    <img class="max-width" src="../../../assets/product-img/aparato-1.3778771f97487bee559f300f8e28357f.png" alt="">
                </div>
                <div class="row bottun-product s2tcr66n">
                    <span>Add New</span>
                </div>
            </div>

        </div>

    </div>
</div>